#container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px;
}

#container > div {
    border: 3px solid black;
    text-indent: 7px;
    font-size: 25px;
    color: white;
    font-family: 'Arial Narrow Bold';
    text-shadow: 1px 1px 1px black;
    width: 100px;
    height: 100px;
    background-color: bisque;
}

#container > div:nth-child(2n) {
    background-color: rgb(236, 201, 159);
}